
		<div class="slide_container" style="margin: auto">
			<div class ="my_slide">
				<img src="/slideshow_pic1.jpg" style="width: 500px; max-height: 200 px; ">
			</div>
			
			<div class ="my_slide">
				<img src="/slideshow_pic2.jpg" style="width: 500px; max-height: 200 px;">
			</div>
			
			<div class ="my_slide">
				<img src="/slideshow_pic3.jpg" style="width: 500px; max-height: 200 px;">
			</div>
			
			<button class="prev" onclick="npSlides(-1)">&#10094;</button>
			<button class="next" onclick="npSlides(1)">&#10095;</button>
		</div>
	
		<script src = "/slideshow.js"></script>		
		<div class ="spacer"></div>
		<div class="citation">
			Background image courtesy of pixabay.com
		</div>	